main {
    margin-left: 0;
    margin-top: 100px;
    text-align: center;
}

h6,
h1,
h2,
p,
span {
    margin-left: 0;
}




#btn-cta {
    margin-left: 44%;
}

#cards {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 30px;
}

.card-contato {
    width: 300px;
    height: 461px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.card-contato:hover {
    transform: translateY(-2px);
}

#card1 {
    background-color: #8E8D8D;
    box-shadow: 1px 1px 1px 1px #8E8D8D;
}

#card2 {
    background-color: #151A1A;
    box-shadow: 1px 1px 1px 1px #151A1A;
}